In [1]:
import pandas as pd

In [2]:
# Завантажую файли
df_2016 = pd.read_csv(r'C:\Users\PC\Google_trends_2016-2017.csv')
df_2026 = pd.read_csv(r'C:\Users\PC\Google_trends_2026-2025.csv')
df_2016

                               Категорія: Подорожі
Тиждень    Буковель: (Україна)   Яремче: (Україна)
2015-12-27 98                                   36
2016-01-03 100                                  29
2016-01-10 83                                   23
2016-01-17 68                                   21
2016-01-24 66                                   22
2016-01-31 62                                   20
2016-02-07 52                                   20
2016-02-14 46                                   18
2016-02-21 48                                   18
2016-02-28 46                                   15
2016-03-06 42                                   14
2016-03-13 46                                   18
2016-03-20 36                                   15
2016-03-27 27                                   17
2016-04-03 17                                   17
2016-04-10 13                                   14
2016-04-17 13                                   17
2016-04-24 11                                   17
2016-05-01 15                                   26
2016-05-08 13                                   21
2016-05-15 12                                   20
2016-05-22 17                                   22
2016-05-29 20                                   31
2016-06-05 28                                   35
2016-06-12 24                                   36
2016-06-19 29                                   45
2016-06-26 38                                   48
2016-07-03 34                                   52
2016-07-10 39                                   45
2016-07-17 38                                   46
2016-07-24 40                                   51
2016-07-31 39                                   47
2016-08-07 36                                   47
2016-08-14 31                                   42
2016-08-21 27                                   33
2016-08-28 27                                   25
2016-09-04 22                                   26
2016-09-11 23                                   39
2016-09-18 24                                   24
2016-09-25 23                                   21
2016-10-02 43                                   25
2016-10-09 36                                   25
2016-10-16 31                                   23
2016-10-23 34                                   20
2016-10-30 45                                   19
2016-11-06 44                                   19
2016-11-13 78                                   22
2016-11-20 62                                   21
2016-11-27 80                                   21
2016-12-04 72                                   23
2016-12-11 70                                   20
2016-12-18 67                                   22
2016-12-25 71                                   23
2017-01-01 90                                   34
2017-01-08 77                                   28
2017-01-15 65                                   22
2017-01-22 52                                   20
2017-01-29 53                                   27

In [4]:
# 'Скіпаю' перший рядок щоб назви колонок були правильні
df_2016 = pd.read_csv(r'C:\Users\PC\Google_trends_2016-2017.csv', skiprows=2)
df_2026 = pd.read_csv(r'C:\Users\PC\Google_trends_2026-2025.csv', skiprows=2)
df_2016

       Тиждень  Буковель: (Україна)  Яремче: (Україна)
0   2015-12-27                   98                 36
1   2016-01-03                  100                 29
2   2016-01-10                   83                 23
3   2016-01-17                   68                 21
4   2016-01-24                   66                 22
5   2016-01-31                   62                 20
6   2016-02-07                   52                 20
7   2016-02-14                   46                 18
8   2016-02-21                   48                 18
9   2016-02-28                   46                 15
10  2016-03-06                   42                 14
11  2016-03-13                   46                 18
12  2016-03-20                   36                 15
13  2016-03-27                   27                 17
14  2016-04-03                   17                 17
15  2016-04-10                   13                 14
16  2016-04-17                   13                 17
17  2016-04-24                   11                 17
18  2016-05-01                   15                 26
19  2016-05-08                   13                 21
20  2016-05-15                   12                 20
21  2016-05-22                   17                 22
22  2016-05-29                   20                 31
23  2016-06-05                   28                 35
24  2016-06-12                   24                 36
25  2016-06-19                   29                 45
26  2016-06-26                   38                 48
27  2016-07-03                   34                 52
28  2016-07-10                   39                 45
29  2016-07-17                   38                 46
30  2016-07-24                   40                 51
31  2016-07-31                   39                 47
32  2016-08-07                   36                 47
33  2016-08-14                   31                 42
34  2016-08-21                   27                 33
35  2016-08-28                   27                 25
36  2016-09-04                   22                 26
37  2016-09-11                   23                 39
38  2016-09-18                   24                 24
39  2016-09-25                   23                 21
40  2016-10-02                   43                 25
41  2016-10-09                   36                 25
42  2016-10-16                   31                 23
43  2016-10-23                   34                 20
44  2016-10-30                   45                 19
45  2016-11-06                   44                 19
46  2016-11-13                   78                 22
47  2016-11-20                   62                 21
48  2016-11-27                   80                 21
49  2016-12-04                   72                 23
50  2016-12-11                   70                 20
51  2016-12-18                   67                 22
52  2016-12-25                   71                 23
53  2017-01-01                   90                 34
54  2017-01-08                   77                 28
55  2017-01-15                   65                 22
56  2017-01-22                   52                 20
57  2017-01-29                   53                 27

In [5]:
# Перейменовую рядки для подальшої роботи в sql
cols = ['date', 'bukovel', 'yaremche' ]
df_2016.columns = cols
df_2026.columns = cols
df_2016

          date  bukovel  yaremche
0   2015-12-27       98        36
1   2016-01-03      100        29
2   2016-01-10       83        23
3   2016-01-17       68        21
4   2016-01-24       66        22
5   2016-01-31       62        20
6   2016-02-07       52        20
7   2016-02-14       46        18
8   2016-02-21       48        18
9   2016-02-28       46        15
10  2016-03-06       42        14
11  2016-03-13       46        18
12  2016-03-20       36        15
13  2016-03-27       27        17
14  2016-04-03       17        17
15  2016-04-10       13        14
16  2016-04-17       13        17
17  2016-04-24       11        17
18  2016-05-01       15        26
19  2016-05-08       13        21
20  2016-05-15       12        20
21  2016-05-22       17        22
22  2016-05-29       20        31
23  2016-06-05       28        35
24  2016-06-12       24        36
25  2016-06-19       29        45
26  2016-06-26       38        48
27  2016-07-03       34        52
28  2016-07-10       39        45
29  2016-07-17       38        46
30  2016-07-24       40        51
31  2016-07-31       39        47
32  2016-08-07       36        47
33  2016-08-14       31        42
34  2016-08-21       27        33
35  2016-08-28       27        25
36  2016-09-04       22        26
37  2016-09-11       23        39
38  2016-09-18       24        24
39  2016-09-25       23        21
40  2016-10-02       43        25
41  2016-10-09       36        25
42  2016-10-16       31        23
43  2016-10-23       34        20
44  2016-10-30       45        19
45  2016-11-06       44        19
46  2016-11-13       78        22
47  2016-11-20       62        21
48  2016-11-27       80        21
49  2016-12-04       72        23
50  2016-12-11       70        20
51  2016-12-18       67        22
52  2016-12-25       71        23
53  2017-01-01       90        34
54  2017-01-08       77        28
55  2017-01-15       65        22
56  2017-01-22       52        20
57  2017-01-29       53        27

In [9]:
df_2016.dtypes

date        object
bukovel      int64
yaremche     int64
dtype: object

In [10]:
# Встановлюю тип даних для колонки 'date'
df_2016['date'] = pd.to_datetime(df_2016['date'])
df_2026['date'] = pd.to_datetime(df_2026['date'])

In [11]:
df_2016.dtypes

date        datetime64[ns]
bukovel              int64
yaremche             int64
dtype: object

In [14]:
# Прибираю рядок з датою яка не потрібна
df_2016 = df_2016.iloc[1:].copy()
df_2026 = df_2026.iloc[1:].copy()
df_2016

         date  bukovel  yaremche
2  2016-01-10       83        23
3  2016-01-17       68        21
4  2016-01-24       66        22
5  2016-01-31       62        20
6  2016-02-07       52        20
7  2016-02-14       46        18
8  2016-02-21       48        18
9  2016-02-28       46        15
10 2016-03-06       42        14
11 2016-03-13       46        18
12 2016-03-20       36        15
13 2016-03-27       27        17
14 2016-04-03       17        17
15 2016-04-10       13        14
16 2016-04-17       13        17
17 2016-04-24       11        17
18 2016-05-01       15        26
19 2016-05-08       13        21
20 2016-05-15       12        20
21 2016-05-22       17        22
22 2016-05-29       20        31
23 2016-06-05       28        35
24 2016-06-12       24        36
25 2016-06-19       29        45
26 2016-06-26       38        48
27 2016-07-03       34        52
28 2016-07-10       39        45
29 2016-07-17       38        46
30 2016-07-24       40        51
31 2016-07-31       39        47
32 2016-08-07       36        47
33 2016-08-14       31        42
34 2016-08-21       27        33
35 2016-08-28       27        25
36 2016-09-04       22        26
37 2016-09-11       23        39
38 2016-09-18       24        24
39 2016-09-25       23        21
40 2016-10-02       43        25
41 2016-10-09       36        25
42 2016-10-16       31        23
43 2016-10-23       34        20
44 2016-10-30       45        19
45 2016-11-06       44        19
46 2016-11-13       78        22
47 2016-11-20       62        21
48 2016-11-27       80        21
49 2016-12-04       72        23
50 2016-12-11       70        20
51 2016-12-18       67        22
52 2016-12-25       71        23
53 2017-01-01       90        34
54 2017-01-08       77        28
55 2017-01-15       65        22
56 2017-01-22       52        20
57 2017-01-29       53        27

In [15]:
df_2026

         date  bukovel  yaremche
1  2025-01-05       90        29
2  2025-01-12       75        27
3  2025-01-19       62        22
4  2025-01-26       49        21
5  2025-02-02       60        19
6  2025-02-09       52        19
7  2025-02-16       48        16
8  2025-02-23       36        17
9  2025-03-02       27        15
10 2025-03-09       22        16
11 2025-03-16       25        18
12 2025-03-23       23        21
13 2025-03-30       19        17
14 2025-04-06       23        17
15 2025-04-13       17        18
16 2025-04-20       17        22
17 2025-04-27       22        26
18 2025-05-04       21        29
19 2025-05-11       20        25
20 2025-05-18       23        32
21 2025-05-25       21        33
22 2025-06-01       29        41
23 2025-06-08       32        46
24 2025-06-15       39        48
25 2025-06-22       44        55
26 2025-06-29       44        57
27 2025-07-06       56        64
28 2025-07-13       48        58
29 2025-07-20       54        57
30 2025-07-27       50        58
31 2025-08-03       56        60
32 2025-08-10       50        56
33 2025-08-17       49        48
34 2025-08-24       40        42
35 2025-08-31       29        34
36 2025-09-07       32        36
37 2025-09-14       31        36
38 2025-09-21       30        36
39 2025-09-28       29        28
40 2025-10-05       27        28
41 2025-10-12       33        29
42 2025-10-19       36        31
43 2025-10-26       43        35
44 2025-11-02       38        25
45 2025-11-09       36        24
46 2025-11-16       41        22
47 2025-11-23       42        25
48 2025-11-30       43        23
49 2025-12-07       40        23
50 2025-12-14       49        25
51 2025-12-21       57        27
52 2025-12-28       98        34
53 2026-01-04      100        38
54 2026-01-11       79        27
55 2026-01-18       74        23
56 2026-01-25       67        21

In [17]:
# Створююнову колонку для подальшого об'єднання даних
df_2016['period'] = 'Old'
df_2026['period'] = 'New'
df_2016.head()

        date  bukovel  yaremche period
2 2016-01-10       83        23    Old
3 2016-01-17       68        21    Old
4 2016-01-24       66        22    Old
5 2016-01-31       62        20    Old
6 2016-02-07       52        20    Old

In [18]:
# Об'єдную дані в одну базу
df_final = pd.concat([df_2016, df_2026])
df_final

         date  bukovel  yaremche period
2  2016-01-10       83        23    Old
3  2016-01-17       68        21    Old
4  2016-01-24       66        22    Old
5  2016-01-31       62        20    Old
6  2016-02-07       52        20    Old
..        ...      ...       ...    ...
52 2025-12-28       98        34    New
53 2026-01-04      100        38    New
54 2026-01-11       79        27    New
55 2026-01-18       74        23    New
56 2026-01-25       67        21    New

[112 rows x 4 columns]

In [20]:
# Зберігаю остаточний файл
df_final.to_csv('cleaned_data_Ukraine.csv', index=False)